:root {
  --etch-width: 550px;
  --squareNumber: 64;

  --border-val-top: 51.5px;
  --border-val-bottom: 51.5px;
  --border-val-left: 60px;
  --border-val-right: 61px;

  --border-style: dashed;
}

#etch-grid {
  box-sizing: border-box;
  height: var(--etch-width);
  width: var(--etch-width);

  display: flex;
  justify-content: center;
  align-content: flex-start;
  flex-wrap: wrap;

  border-top-width: var(--border-val-top);
  border-bottom-width: var(--border-val-bottom);
  border-left-width: var(--border-val-left);
  border-right-width: var(--border-val-right);

  border-color: transparent;
  border-style: solid;

  position: relative;
  z-index: 1;
}

img#grid-border {
  width: var(--etch-width);
  height: auto;

  position: absolute;
  top: calc(-1 * var(--border-val-top));
  left: calc(-1 * var(--border-val-left));
  z-index: -1;
}

#etch-grid div {
  box-sizing: border-box;
  border: 0.01em grey var(--border-style);
  width: calc(
    (var(--etch-width) - (var(--border-val-left) + var(--border-val-right))) /
      var(--squareNumber)
  );
  height: calc(
    (var(--etch-width) - (var(--border-val-top) + var(--border-val-bottom))) /
      var(--squareNumber)
  );
}
